* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: #050505;
  padding: 40px;
  border-radius: 20px;
  box-shadow:
    0 0 20px #00f7ff,
    0 0 40px #00f7ff,
    0 0 80px #00f7ff;
  text-align: center;
}

h1 {
  color: #00f7ff;
  text-shadow:
    0 0 10px #00f7ff,
    0 0 30px #00f7ff;
}

input {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: black;
  color: #00f7ff;
  box-shadow:
    0 0 10px #00f7ff,
    0 0 20px #00f7ff;
}

input::placeholder {
  color: #555;
}

p {
  margin-top: 25px;
  font-size: 20px;
  color: #00ff88;
  text-shadow:
    0 0 10px #00ff88,
    0 0 25px #00ff88;
}
